In [4]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [5]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Vanimo,PG,2020-08-27 17:38:28,-2.67,141.30,78.94,85,57,4.09
1,1,Tasiilaq,GL,2020-08-27 17:38:28,65.61,-37.64,39.20,80,20,10.29
2,2,Brownsville,US,2020-08-27 17:35:31,25.90,-97.50,95.00,53,40,12.75
3,3,Port Alfred,ZA,2020-08-27 17:38:28,-33.59,26.89,61.97,82,0,7.63
4,4,Punta Arenas,CL,2020-08-27 17:35:12,-53.15,-70.92,39.00,64,40,23.04

In [6]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [7]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [9]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [15]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Center map and zoom to the right size
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [19]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Vanimo,PG,2020-08-27 17:38:28,-2.67,141.30,78.94,85,57,4.09
8,8,Hithadhoo,MV,2020-08-27 17:38:28,-0.60,73.08,80.28,73,100,11.50
10,10,Zirandaro,MX,2020-08-27 17:38:29,18.45,-100.98,78.08,88,100,2.10
14,14,Sinnamary,GF,2020-08-27 17:38:29,5.38,-52.95,84.36,74,3,6.46
21,21,San Policarpo,PH,2020-08-27 17:38:29,12.18,125.51,79.95,85,100,6.40
22,22,Ribeira Grande,PT,2020-08-27 17:38:29,38.52,-28.70,77.00,88,75,5.82
24,24,Jamestown,US,2020-08-27 17:38:29,42.10,-79.24,84.00,69,20,17.22
27,27,Suez,EG,2020-08-27 17:38:30,29.97,32.53,80.64,54,0,15.86
30,30,Pandan,PH,2020-08-27 17:38:30,14.05,124.17,82.45,78,100,7.63
33,33,Asfi,MA,2020-08-27 17:38:30,32.30,-9.24,80.19,53,0,22.12

In [24]:
preferred_cities_df.notnull().sum()

City_ID       190
City          190
Country       190
Date          190
Lat           190
Lng           190
Max Temp      190
Humidity      190
Cloudiness    190
Wind Speed    190
dtype: int64

In [25]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp    Lat     Lng Hotel Name
0           Vanimo      PG     78.94  -2.67  141.30
8        Hithadhoo      MV     80.28  -0.60   73.08
10       Zirandaro      MX     78.08  18.45 -100.98
14       Sinnamary      GF     84.36   5.38  -52.95
21   San Policarpo      PH     79.95  12.18  125.51
22  Ribeira Grande      PT     77.00  38.52  -28.70
24       Jamestown      US     84.00  42.10  -79.24
27            Suez      EG     80.64  29.97   32.53
30          Pandan      PH     82.45  14.05  124.17
33            Asfi      MA     80.19  32.30   -9.24

In [26]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [30]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [33]:
len(hotels["results"][0]["name"])

25

In [36]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Vanimo,PG,78.94,-2.67,141.30,Vahmoneh Lodge Vanimo
8,Hithadhoo,MV,80.28,-0.60,73.08,Scoop Guest House
10,Zirandaro,MX,78.08,18.45,-100.98,Hotel Pineda
14,Sinnamary,GF,84.36,5.38,-52.95,ALETHEIA Appartement Sinnamary
21,San Policarpo,PH,79.95,12.18,125.51,Zal-Ann Beach Resort
22,Ribeira Grande,PT,77.00,38.52,-28.70,Quinta da Meia Eira
24,Jamestown,US,84.00,42.10,-79.24,Hampton Inn & Suites Jamestown
27,Suez,EG,80.64,29.97,32.53,Green House
30,Pandan,PH,82.45,14.05,124.17,Bonifacio Lodge
33,Asfi,MA,80.19,32.30,-9.24,Hôtel Abda

In [37]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [41]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [42]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))